<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  
  <!-- 配置前端控制器（总控） （所有的请求都会经过SpringMVC）-->
  <!-- 快捷键配置 ：alt+/  选择dispatcherservlet-DispatcherServlet declaration -->
	<servlet>
		<servlet-name>springDispatcherServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			  <!--如何读取多个配置文件？ （这里 要引入两个配置文件 ： sprindao 和 springmvc）
		    	 两种方法：
		    	 		a.在一个文件中通过<import>标签引入另一个文件
		    	 		（如在springmvc中 <import resource="classpath:spring.xml"/> 引入springdao.xml文件）
		    	 		b.所有配置文件同一前缀，使用星号（*）通配符读取
		    	 		  spring*.xml
		    			 
		    -->
		    <param-value>classpath:spring*.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<!--映射RequestMapping 请求 -->
	<servlet-mapping>
		<servlet-name>springDispatcherServlet</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
  
  	
  
  
  
  
 
</web-app>